.inline {
    display: inline-flex;
}

.tabel-row{
    text-align: center;
}

.total-text{
    font-size: x-large;
}

.checkout-btn{
    margin-left: 10%;
    margin-top: 10px;
    
}
.empty-cart-container {
    text-align: center; 
 }

.empty-cart {
    width: 10%;
    height: 10%;
    margin: 10px;
}