<div class="row">
  <div class="col-md-2">
    <app-filter (filterData)="filterProductsByPrice($event)"></app-filter>
  </div>

  <div class="col-md-8">
    <app-product-list *ngIf="products" [products]="products" (fetchCart)="getCart($event)"></app-product-list>
  </div>

  <div class="col-md-2">
    <app-cart [cart]="cart"></app-cart>
  </div>

</div>
<div class="form-inline my-2 my-lg-0 search-container">
  <input class="form-control mr-sm-2" name="Search" type="text" placeholder="Search" [(ngModel)]="text" aria-label="Search">
  <button class="btn btn-outline-warning my-2 my-sm-0" (click)="searchProducts(text)">Search</button>
</div>